div.scrollmenu {
    background-color: #0c6cf4;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    /* background-color: gray; */
}

/* hide scrollbar but allow scrolling */
div.scrollmenu {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

div::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}